<a href="https://colab.research.google.com/github/sufia-ashraf/python/blob/main/Copy_of_pt1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#21) which no is greater no in 3 numbers.
x=int(input("enter 1st no."))
y=int(input("enter 2nd no."))
z=int(input("enter 3rd no."))
if x>y>z:
  print("1st no. is greater")
elif y>x>z:
  print("2nd no. is greater")
else:
  print("3rd no. is greater")

enter 1st no.4
enter 2nd no.5
enter 3rd no.6
3rd no. is greater

In [ ]:
#22program to check whether a number is divisible by 5 and 11 or not.
num=int(input("enter a +ve no."))
if ((num%5==0)and(num%11==0)):
  print("given no. is divisible by 5 & 11")
else:
  print("given no. not divisible by 5 & 11")

enter a +ve no.6
given no. not divisible by 5 & 11

In [ ]:
#23) program to display Digit in text (0 to 9).
num=int(input("enter a no. between 0 to 9:"))
if (num==0):
  print("Zero")
elif (num==1):
  print("One")
elif(num==2):
  print("two")
elif(num==3):
  print("three")
elif(num==4):
  print("four")
elif(num==5):
  print("five")
elif(num==6):
  print("six")
elif(num==7):
  print("seven")
elif(num==8):
  print("eight")
elif(num==9):
  print("nine")
else:
  print("no text available")

enter a no. between 0 to 9:7
seven

In [ ]:
#24) program to Check given character is vowel or not.
ch=input("enter a character:")
if(ch=='a'or ch=='e'or ch=='i'or ch=='o'or ch=='u'):
  print("character is a vowel")
else:
  print("Character is not a vowel")

enter a character:i
character is a vowel

In [ ]:
#25) program to print roots of a quadratic equation ax 2 + bx +c=0 (where aâ‰ 0).
import math
a = 1
b = 5
c = 6
d = (b**2) - (4*a*c)
sol1 = (-b-math.sqrt(d))/(2*a)
sol2 = (-b+math.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are -3.0 and -2.0

In [ ]:
#26program to check whether the year is leap year or not.
year = 2003
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2003 is not a leap year

In [ ]:
#27)program to input marks in 3 subjects, compute average and then calculate grades.
mark1=int(input("enter the mark for subject 1:"))
mark2=int(input("enter the mark for subject 2:"))
mark3=int(input("enter the mark for subject 3:"))
print("average mark is:",(mark1+mark2+mark3)/3)
per=((mark1+mark2+mark3)/300)*110
print("percentage",per)
if per >=80:
  print("Grade is 'A")
elif per >= 70 and per <= 79 :
    print ("Grade is 'B'")
elif per >= 60 and per <= 69 :
    print ("Grade is 'C'")
elif per >= 50 and per <= 59 :
    print ("Grade is 'D'")
elif per >= 40 and per <= 49 :
    print ("Grade is 'E'")
elif per <= 39 :
    print ("Grade is 'R'")

enter the mark for subject 1:50
enter the mark for subject 2:56
enter the mark for subject 3:60
average mark is: 55.333333333333336
percentage 60.86666666666667
Grade is 'C'

In [ ]:
#28Write a menu driven program to calculate:
def circle():

   print("You choose Circle...")

   radius=int(input("enter the radius : "))

   print("Area of the circle with the radius of ",radius," units is", 3.14* (radius**2),"square units.")

def square():

   print("You choose Square...")

   side=int(input("enter the size of a side of a square : "))

   print("Area of the square with the a side of ",side," units is",side**2,"square units.")


def rectangle():

   print("You choose Rectangle...")

   length=int(input("enter the length of the rectangle : "))

   breadth=int(input("enter the breadth of the rectangle : "))

   print("Area of the rectangle with length and breadth ",length, " ",breadth," units is",length*breadth,"square units.")

ITERATIVE STATEMENTS::

In [ ]:
#29)Write a program to display all number from 1 to 15.
for i in range(1,16):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
#30) program to display sum of all numbers from 1 to 10.
n=int(input("Enter the total number you want to enter:"))

sum=0

for i in range(n):

    x=int(input("Enter the number:"))

    sum=sum+x

avg=sum/n

print("Average=",avg)

The sum is 55
55

In [ ]:
#31) program to display Average of number
n=int(input("Enter the total number you want to enter:"))
sum=0
for i in range(n):
    x=int(input("Enter the number:"))
    sum=sum+x
avg=sum/n

print("Average=",avg)

Enter the total number you want to enter:10
Enter the number:1
Enter the number:2
Enter the number:3
Enter the number:4
Enter the number:5
Enter the number:6
Enter the number:7
Enter the number:8
Enter the number:9
Enter the number:10
Average= 5.5

In [ ]:
#32) program to display multiply all numbers from 1 to 10.
num=int(input("enter the number"))
for count in range(1,11):
  print(num*count)

enter the number3
3
6
9
12
15
18
21
24
27
30

In [ ]:
#33) program to display Square all numbers from 1 to 20.
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#34)program to display all odd numbers from 1 to 100
start, end = 1,100
for num in range(start, end + 1):
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
#35)Write a program to display all even numbers from 1 to 100.
start, end = 1, 100
for num in range(start, end + 1):
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
#36program that uses exactly four for loops to print the sequence of AAAAAAAAAABBBBBBBCCCCCCEEEEE
for i in range (1, 5) :
    print ("A" * i , end = "")
for i in range (3, 5) :
    print ("B" * i , end = "")
for i in range (1, 4) :
    print ("C" * i , end = "")
for i in range (2, 4) :
    print ("E" * i , end = "")

AAAAAAAAAABBBBBBBCCCCCCEEEEE

In [ ]:
#37Print first 10 prime numbers.
lowervalue = 1
uppervalue=10
print("the prime no. in the rage are:")
for number in range (lowervalue, uppervalue+1):
  if number>1:
    for i in range(2,number):
      if (number%i)==0:
        break
    else:
      print(number)

the prime no. in the rage are:
2
3
5
7

In [ ]:
#38Write a program to print the following *, **...
n = int(input("Enter the number of rows"))  
for i in range(0, n):   
        for j in range(0, i + 1):   
            print("* ", end="")         
        print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#39)program to print following pattern#,##...
rows = 5
for i in range(rows, 0, -1):
    for j in range(0, i + 1):
        print('#', end=' ')
    print("\r")

# # # # # #
# # # # #
# # # #
# # #
# #

In [ ]:
#40Write a script to print following:8,86..
num = "8642"
for i in range (4) :
    print (num[ : i + 1])

8
86
864
8642

In [ ]:
#41Print N Fibonacci numbers.
num = int (input ("Enter the number :"))
a = 0
b = 1
c = 0
print (0, end = " ")
while 0 < num :
    a, b = b, c
    c = b + a
    num -= 1
    print (c, end = " ")

Enter the number :10
0 1 1 2 3 5 8 13 21 34 55