<a href="https://colab.research.google.com/github/sufia-ashraf/python/blob/main/pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#48Code to count the number of occurrence of a Character in String.
str='London'
print(str.count('o'))

2

In [ ]:
#49)Write a loop that prints out the index of every ‘i’ in ‘Mississippi’.
str='Mississippi'
index = 0
for letter in str:
  if letter == "i":
    print(index)
  index +=1

1
4
7
10

In [ ]:
#50Using endswith() & startswith() function print the character used in the start and end of a string.
x='Country'
print(x.startswith('C'))
print(x.endswith('y'))

True
True

In [ ]:
##51Write a python program to enter a string and a substring.
s = 'updownupdownupdown'
sb = 'up'
result= 0
sub_len = len(sb)
for i in range(len(s)):
    if s[i:i+sub_len] == sb:
        result += 1
print (result)

3

In [ ]:
#52program that inputs a word and prints “Yes it starts!!”if the given word starts with “0”,”1”,”2”,.,”9”
str = input ("Enter the word:")
if str[0].isdigit():
    print ("Yes it starts !!")
else :
    print("The string does not start with 0, 1, 2, ... , 9")

Enter the word:12hello
Yes it starts !!

In [ ]:
#53program to reverse a string by using function
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str

s = "Mississippi"
print("The original string is : ", end="")
print(s)
  
print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Mississippi
The reversed string(using loops) is : ippississiM

In [ ]:
#54program to print elements of a list [ ‘q’,’w’,’e’,’r’,’t’,’y’] in separate lines..
L= ['q','w','e','r','t','y']
length=len(L)
for a in range(length):
  print ("at indexes",a,"and",(a-length),"element:",L[a])

at indexes 0 and -6 element: q
at indexes 1 and -5 element: w
at indexes 2 and -4 element: e
at indexes 3 and -3 element: r
at indexes 4 and -2 element: t
at indexes 5 and -1 element: y

In [ ]:
#55program to replace a character in a string.
str1 = "Midnight"
x = str1.replace("h", "t" )
print(str1)
print(x)

Midnight
Midnigtt

In [ ]:
#56  Program to print whether a given character is an uppercase,lowercase,digit or any string
string = 'RAIN'
print(string.isupper())
 
string = 'rain'
print(string.islower())

True
True

In [ ]:
#57program to enter a string.
str=input("enter a string")
print(str)

enter a stringSun
Sun

In [ ]:
#58program to enter a string in smaller case and convert it into upper case
str1='hello'
print(str1.upper())

HELLO

In [ ]:
#59program to enter a string and print the length of the string using built-in function.
str1="python"
print(len(str1))

6

In [ ]:
#60 program to replace one string with the other string.
str1='country'
print(str1.replace('country','city'))

city

In [ ]:
#61program to enter a string & then enter a character & check the frequency of that character in that string.
string=input("enter a string")
ch=input("enter ch")
count=0
for i in range (len(string)):
  if(string[i]==ch):
    count=count+1
print("the frequency of the",ch,"in the string is:",count)

enter a string1234
enter chhello
the frequency of the hello in the string is: 0

In [ ]:
#62program that receives the index and returns the corresponding value.
a = eval (input('Enter the list ='))
b = int (input ("Enter the index number ="))
if b< len(a):
    print ("value is =", a[b])
else :
    print ("index out of range")

Enter the list =2,3,4,5,6,7,8
Enter the index number =4
value is = 6

In [ ]:
#63program that inputs two tuples creates a third that contains all elements 
tup1=eval(input("enter 1st tuple"))
tup2=eval(input("enter2nd tuple"))
tup3=tup1+tup2
print(tup3)

enter 1st tuple4
enter2nd tuple5
9